
<section class="layout-index-cover"> 
     <figure class="LIC-container"> 
                <img src="image/Iroha.webp" alt="Sakayori Iroha"> 
                <div class="LIC-information"> 
                    <h1 class="LIC-information-main-title">PROJECT-IROHA</h1> 
                    <div class="LIC-information-subcontent"> 
                        <h2 class="LIC-information-subtitle">BY</h2> 
                        <h1 class="LIC-information-KODI">KODI</h1> 
                    </div> 
                </div>  
        </figure>
</section> 


<section class="layout-index-blogpost"> 
    <h1 class="LIB-h1">Blog posts</h1>
    <div class="LIB-post">
        <% site.posts.sort('-date').limit(5).each(function(post){ %> 
            <a href="<%- url_for(post.path) %>" class="LIB-box">
                <article>
                    <h2 class="LIB-title"><%= post.title %></h2>
                    <span class="LIB-date"><%= post.date.format('YYYY-MM-DD') %></span> 
                    <p class="LIB-blurb"><%= strip_html(post.excerpt || post.content).substring(0, 100) + '...' %></p>
                </article>
            </a> 
        <% }) %>
    </div>
</section>

<!-- 這是你的 tools -->
<section class="layout-index-tools"> 
    <!-- 你的工具區內容 -->
</section>